$headingColor: #471961;
$buttonBg: #413c33;
$buttonDisableBg: #8f8d88;
$white: #fff;

.scoreboard {
    &__heading {
        font-size: 50px;
        font-weight: 600;
        margin: 70px 0 20px;
        color: $headingColor;
    }

    &__bowl{
        display: flex;
        justify-content: center;
        margin:  30px;
        button {
            height: 50px;
            width: 220px;
            border-radius: 10px;
            background-color: $buttonBg;
            outline: none;
            border: $buttonBg;
            color: $white;
            cursor: pointer;
            margin: 0 10px;
        }

        button:disabled {
            background-color: $buttonDisableBg;
            cursor: not-allowed;
        }
    }
}