<h1>Ten Pin Bowl Score Board</h1>
<div class="score_list__container">
  <div class="score_list__item" *ngFor="let frame of frames">
    <div class="score_list__top">
      <div class="score_list__top__left">1</div>
      <div class="score_list__top__right">21</div>
    </div>
    <div class="score_list__bottom">22</div>
  </div>
</div>

<div class="frames">
  <h1>Frames</h1>
  <div class="frames__container">
    <div class="frames__set">
      <div
        class="frames__name"
        id="'frame_'+ {{ i }}"
        *ngFor="let frame of frames; let i = index"
      >
        {{ frame }}
      </div>
    </div>
    <div class="frames__bowl">
      <button (click)="newBall()">BOWL NEW FRAME NOW</button>
    </div>
  </div>
</div>
